*.html
*.pdf
*.redxml
*.swp
*.txt
!requirements.txt
*.upload
*~
.DS_Store
.refcache
.sass-cache
.tags
.targets.mk
/*-[0-9][0-9].xml
_site
archive.json
draft-nottingham-binary-structured-headers.xml
draft-nottingham-cache-trailers.xml
draft-nottingham-http-structure-retrofit.xml
draft-nottingham-json-home.xml
draft-nottingham-link-hint.xml
draft-nottingham-link-template.xml
draft-nottingham-where-does-that-come-from.xml
lib
report.xml
venv/
