.tags
*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
/.*.mk
/.gems/
/.idea/
/.refcache
/.venv/
/.vscode/
/*-[0-9][0-9].xml
/lib
/node_modules/
/versioned/
archive.json
draft-nottingham-binary-structured-headers.xml
draft-nottingham-blocking-best-practices.xml
draft-nottingham-gateway-description.xml
draft-nottingham-http-availability-hints.xml
draft-nottingham-http-invalidation.xml
draft-nottingham-iab-age-restrictions.xml
draft-nottingham-json-home.xml
draft-nottingham-paid-crawl-reqs.xml
draft-nottingham-plan-b.xml
draft-nottingham-public-apis.xml
draft-nottingham-webbotauth-use-cases.xml
Gemfile.lock
package-lock.json
report.xml
!requirements.txt
