*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.refcache
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-ietf-mediaman-standards-tree.xml
draft-nottingham-binary-structured-headers.xml
draft-nottingham-blocking-best-practices.xml
draft-nottingham-gateway-description.xml
draft-nottingham-http-availability-hints.xml
draft-nottingham-http-invalidation.xml
draft-nottingham-json-home.xml
draft-nottingham-link-hint.xml
draft-nottingham-public-apis.xml
package-lock.json
report.xml
!requirements.txt
