---
title: TITLE
abbrev:
docname: draft-nottingham-SHORT
date: {DATE}
category: std

ipr: trust200902
keyword: Internet-Draft

stand_alone: yes
smart_quotes: no
pi: [toc, tocindent, sortrefs, symrefs, strict, compact, comments, inline]

venue:
  home: "https://mnot.github.io/I-D/"
  repo: "https://github.com/mnot/I-D/labels/SHORT"

github-issue-label: SHORT

author:
 -
    ins: M. Nottingham
    name: Mark Nottingham
    organization:
    postal:
      - Prahran
    country: Australia
    email: mnot@mnot.net
    uri: https://www.mnot.net/


--- abstract



--- middle


# Introduction

## Notational Conventions

{::boilerplate bcp14-tagged}

# IANA Considerations

# Security Considerations


--- back

