/* Webfont: Equity-Regular */

@font-face {
    font-family: 'equity_text';
    src: url('Equity/equity_text_a_regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'equity_text';
    src: url('Equity/equity_text_a_italic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'equity_text';
    src: url('Equity/equity_text_a_bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'equity_text';
    src: url('Equity/equity_text_a_bold_italic.woff') format('woff');
    font-style: italic;
    font-weight: bold;
}

